@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
/*Pie chart*/

.pie_chart_content{

	height: auto;
	background-image: url("https://images.pexels.com/photos/259165/pexels-photo-259165.jpeg?cs=srgb&dl=pexels-pixabay-259165.jpg&fm=jpg");
}


.overlay{

	background-color: #333333e2;
	min-height: calc(100vh - 227px);
	padding-top: 200px;
padding-bottom: 200px;
	max-width: 80%;
}


.pie_chart_content .piecontainer{

	background-color: white;
	border-radius: 40px;
	padding: 0px;
	max-width: 70%;
	margin: auto;

}

.main_box h1{

	padding: 50px 0px 50px 0px;
	color: black;
	font-size: 25px;
}

.main_box{

	background-color: white;
	height: 100%;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
}

.count_box{

	background-color: #182d6e;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	height: 100%;

	padding: 100px;
}



.total-input{

	background-color: #3546b0;
	border: none;
	color: white;
}

.form-control:disabled,
.form-control[readonly]{

	background-color: #3546b0;
	opacity: 1;

}

.spendings-input{

	background-color: #2adece;
	border: none;
	color: white;
}

.expenses-input{


	background-color: #dd3b79;
	border: none;
	color: white;

}


.savings-input{

background-color: #ff766b;
border: none;
color: white;
}

.form-control:focus{

	background-color: transparent;
	color: white;
	border: none;
}
