/* removes edges and borders on page */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* styles lists */
ul{
    list-style: none;
}
/* removes bullet points */
a{
    text-decoration: none;
}

/* navigation */
header{
    height: 79px;
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: antiquewhite;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.63);
    top: 0;
    left: 0;
}

header nav{
    display:flex;
    align-items: center;
    padding: 25px 10px;
}

header nav .heading1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 450;
    color: #56961a;
}

header ul{
    flex:1;
    justify-content: flex-end;
    display:none;
}

header ul a{
    color:#56961a;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
/* removes nav when screen to small */
@media (min-width:800px) {
    header ul{
        display:flex;
    }
}

/* footer */

footer{
    height: 69px;
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: rgba(250, 235, 215, 0.2);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.63);
    top: 938px;
    left: 0;
}

footer ul{
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 25px;
    padding: 0;
    color: black;
}

footer a{
    color: rgb(0, 103, 134);
    font-weight: bold;
    font-style:initial;
}

/* class */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.grid-container{
    margin-top: -70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 fr 1fr;
    grid-gap: 1em;
}

.grid-container > div{
    background:rgba(59, 59, 59, 0.404);
    padding: 1em;
}
